# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log

# Docker
.docker/

# Persistent data (DO NOT SUBMIT TO GIT)
data/
!data/.gitkeep

# Kubernetes
*.kubeconfig

# Secrets
*.secret
*.key
*.pem

# OS
Thumbs.db
